/*======================== BACKGROUND ===============================*/
* {
  margin: 0;
  padding: 0;
}

.footer {
  left: 0;
  bottom: 0;
  height: 8vh;
  width: 100%;
  background: #ffffff;
  font-family: "Gilroy Regular";
  color: #1d1d1d;
  text-align: center;
  opacity: 1;
  font-size: 14px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items:center;
}


.menu {
  margin: 0 auto;
  width: 100%;
  position: fixed;
  z-index: 1;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 50%;
  min-width: 50%;
  filter: blur(1);
  z-index: -1;
}

#main-page{
    background: linear-gradient(
                       rgba(20,20,20, .7), 
                       rgba(20,20,20, .7));
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

/*======================== MAIN CONTENT ===============================*/
.content-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-text {
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.content-text h1 {
  font-family: "Gilroy Bold";
  font-size: 60px;
}

.content-text h2 {
  font-family: "Gilroy Thin";
  font-size: 54px;
}

.content-text p {
  font-family: "Gilroy Medium";
  font-size: 15px;
  color: #f2f2f2;
}

/*======================== FONT ===============================*/
@font-face {
  font-family: "Gilroy Thin";
  src: url("../fonts/gilroy-thin.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy Regular";
  src: url("../fonts/gilroy-regular.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy Medium";
  src: url("../fonts/gilroy_medium.otf") format("opentype");
}

@font-face {
  font-family: "Gilroy Bold";
  src: url("../fonts/gilroy-bold.otf") format("opentype");
}


